name: Clang Tests

on:
  push:
    branches:
      - 'release/**'
    paths:
      - 'clang/**'
      - 'llvm/**'
      - '.github/workflows/clang-tests.yml'
  pull_request:
    paths:
      - 'clang/**'
      - 'llvm/**'
      - '.github/workflows/clang-tests.yml'

jobs:
  build_clang:
    name: clang check-all
    runs-on: ${{ matrix.os }}
    env:
      install_prefix: /usr/local
    strategy:
      fail-fast: false
      matrix:
        target: [X86]
        os:
          - ubuntu-latest
          - macOS-latest
    steps:
    - name: Setup Windows
      if: startsWith(matrix.os, 'windows')
      uses: llvm/actions/setup-windows@main
      with:
        arch: amd64
    - name: Install Ninja
      uses: llvm/actions/install-ninja@main
    - uses: actions/checkout@v1
      with:
        fetch-depth: 250
    - name: ccache
      uses: hendrikmuhs/ccache-action@v1
      with:
        key: ${{ matrix.os }}
    - name: Test clang macOs
      if: ${{ matrix.os == 'macOs-latest'}}
      run: |      
        nproc="sysctl -n hw.logicalcpu"
        ./build-llvm-project.sh -t X86 -e "clang" -p /usr/local -s -n `$nproc` -i
        cd build
        make check-all
    - name: Test clang ubuntu
      if: ${{ matrix.os == 'ubuntu-latest'}}
      run: |      
        ./build-llvm-project.sh -t X86 -p /usr/local -s -n $(nproc) -i
        cd build
        make check-all
        
